img {
	width: 25%;
	display: block;
	border: solid;
	margin: 5px; auto;
}

.card {
	width: 50%;
	height: 375px;
	display: block;
	float: left;
	border-style: solid;
}

.card:nth-of-type(even){
	background-color: yellow;
}

.card:nth-of-type(odd){
	background-color: lightblue;
}

.Selected{
	border: dotted;
}